@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;

  background-color: #eee;
}

h1 {
  letter-spacing: 0.2em;
  margin: 10px 10px 35px 10px;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  border-bottom: 4px dotted #ccc;
  padding: 10px;
  color: #333;
  font-weight: normal;
  letter-spacing: 0.1em;
}

h3 {
  text-align: left;
  margin: 0px;
  letter-spacing: 0.1em;
  color: #333;
}

h4 {
  letter-spacing: 0.1em;
  color: #333;
}
p {
  font-size: 13px;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #666;
  padding: 10px 20px;
  background-color: #ddd;
  margin: 0 2px;
  border-radius: 4px;
}

nav a:hover {
  text-decoration: underline;
  color: #333;
}

nav a:active,
nav a:focus {
  background-color: rgb(185, 185, 185);
  color: black;
  text-decoration: none;
}

nav.studentnav {
  
  border-radius: 4px;
  background-color: #eee;
  width: 150px;
  text-align: center;
}

.studentlist {
  display: block;
  margin: 0.5rem 0;
  padding: 5px;
  text-decoration: none;
  color: #666;
  border-radius: 8px;
}

.studentlist:active,
.studentlist:focus {
  color: black;
  font-weight: bold;
  border: solid 1px #333;
}

.studentlist:hover {
  background-color: #ddd;
  text-decoration: none;
}

.studentview {
  padding: 0 2rem;
}

main {
  width: 100%;
  margin: 0.5rem;
}

table {
  margin: 10px;
  width: 100%;
  font-size: 12px;
}

tr {
  background-color: #dedede;
}

tr:nth-child(2n) {
  background-color: #ededed;
}

td {
  padding: 3px;
  width: 25%;
}

img {
  float: left;
  margin: 0 30px 30px 0;
  border-radius: 128px;
  display: block;
}

select {
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  background-color: #ddd;
}
